# Configuración de correo para Maestra Rosy
EMAIL_USER=user@gmail.com
EMAIL_PASS=

# API Key de Resend en producción (Render)
RESEND_API_KEY=re_tu_resend_api_key_aqui

# MongoDB Atlas URI (Reemplazar <usuario> y <password> con tus credenciales)
MONGODB_URI=mongodb+srv://<usuario>:<password>@cluster0.tvkqzla.mongodb.net/maestra_rosy_db?retryWrites=true&w=majority

PORT=5000
